# connection to Mealie API
# https://docs.mealie.io/documentation/getting-started/api-usage/#getting-a-token
MEALIE_SCRIPTS_MEALIE_URL=https://mealie.fixme.dne
MEALIE_SCRIPTS_MEALIE_API_TOKEN=your_api_token_here

# tag names (will be created, if they don't exist)
MEALIE_SCRIPTS_PROTEIN_TAG_NAME=High protein
MEALIE_SCRIPTS_FIBER_TAG_NAME=High fiber
MEALIE_SCRIPTS_QUICK_TAG_NAME=Quick

# tag thresholds
MEALIE_SCRIPTS_PROTEIN_THRESHOLD=22.0 # in grams
MEALIE_SCRIPTS_FIBER_THRESHOLD=10.0 # in grams
MEALIE_SCRIPTS_QUICK_THRESHOLD_MINUTES=30 # in minutes

# cache config
# the CLI writes already-updated recipes to a file, so it doesn't continuously update them
MEALIE_SCRIPTS_CONFIG_DIR=~/.config/mealie_scripts

# rate limiting (seconds to sleep between requests)
# Mealie is not rate limited by default, see: https://docs.mealie.io/documentation/getting-started/installation/security/#denial-of-service
# you should be rate limiting your API though! :)
MEALIE_SCRIPTS_SLEEP_BETWEEN_REQUESTS=1.5
